#calender {
    text-align: center;
    display: block;
    max-width: 320px;
    left: 0;
    right: 0;
    margin: auto;
}

.dayNames {
    text-align: center;
    padding-top: 15px;
    width: 40px;
    vertical-align: bottom;
    height: 35px;
    display: inline-block;
    border: 1px solid transparent; 
}

.day, .emptyDay {
    text-align: center;
    padding-top: 10px;
    width: 40px;
    vertical-align: bottom;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

.day {
    cursor: pointer;
}

.emptyDay {
    background-color: #f2f2f2; 
}

.active {
    border: 1px solid #31698a;
    color: white;
    background-color: #31698a;
}

/*Calender navigation buttons style*/
#calenderNavigationWrapper {
    display: block;
    text-align: center; 
    max-width: 320px;
    left: 0;
    right: 0;
    margin: auto;
}

#calenderPrevMonthButton, #calenderNextMonthButton, #monthDisplay {
    display: inline-block;
    height: 40px;
}

#calenderNextMonthButton {
    float: right;
}

#calenderPrevMonthButton {
   float: left;
}

#monthDisplay {
    padding-top: 15px;
}


